IPython
streamlit
numpy
pandas
xgboost
matplotlib
scikit-learn
scipy
tqdm
ipywidgets
openpyxl
statsmodels
reportlab
streamlit_lottie
plotly
seaborn
xlrd
streamlit_option_menu
lightgbm
catboost
twilio
kaleido
streamlit_cookies_manager
xlsxwriter
openai = 0.28
